* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;

    background: #222;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    width: 320px;

    background: #333;

    padding: 20px;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}


/* Màn hình */

#display {
    width: 100%;

    height: 70px;

    margin-bottom: 15px;

    padding: 10px;

    border: none;

    border-radius: 10px;

    background: #eee;

    text-align: right;

    font-size: 32px;
}


/* Khu vực nút */

.buttons {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 10px;
}


/* Nút */

button {
    height: 60px;

    border: none;

    border-radius: 10px;

    font-size: 22px;

    cursor: pointer;

    background: #555;

    color: white;

    transition: 0.15s;
}


/* Khi rê chuột */

button:hover {
    opacity: 0.8;
}


/* Khi bấm */

button:active {
    transform: scale(0.95);
}


/* Nút phép tính */

.operator {
    background: #f39c12;
}


/* Nút bằng */

.equal {
    background: #27ae60;
}


/* Nút số 0 */

.zero {
    grid-column: span 2;
}