*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;

}

.container{
    background:wheat;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    width:400px;

}

h1{
    text-align:center;
    margin-bottom:20px;

}

input{
    width:70%;
    padding:10px;

}

button{
    padding:10px;
    cursor:pointer;

}

ul{
    margin-top:20px;

}

li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    border-bottom:1px solid #ddd;

}

.completed{
    text-decoration:line-through;
    color:gray;

}

.delete{
    background:red;
    color:white;
    border:none;
    padding:5px 10px;
    cursor:pointer;
    
}


